/*
Color References
Lighter Blue #52a3df
Darker Blue #133ad4
Medium Blue #8496d9
White #ffffff
Black #000000
*/

h1{

}
h2{

}
h3{

}
h4{

}
p{

}

/*navigation bar */
ul {
  list-style-type: none;
  width: 100%; /* Full-width */
  overflow: auto; /* Overflow due to float */
  background-color: #0035de;
}
.nav-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    transition: all 0.3s ease; 
    color: #ffffff; /* White text color */
    display: block;
    padding: 2%;
    text-decoration-line: none;
}
.nav-bar a:hover {
  /*backdrop-filter: opacity(0.6); not sure why it doesnt work*/
  filter: opacity(0.6);
}
